/* MAIN */
.container-fluid {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* ALERT */
.alert {
    position: absolute;
    top: 0;
    left: calc(35% - 25px);
    max-width: 500px;
    width: 100%;
}

/* CHAT BODY */
#chat_body {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    border-radius: 5px;
}

/* CHAT POST */
#chat_post {
    margin: 10px;
}